@import "sub/__modules.less";
@import "sub/_template_page_common.less";
#page-content {
	height: 690px;
	.column {
		float: left;
	}
	p, a {
		font-size: 14px;
	}
	p {
		letter-spacing: 0.45px;
	    line-height: 150%;
	    margin-left: 1px;
	    margin-top: 11px;
	}
	a {
		color: ;
		.link-color(#914503, #d49b50);
	}
	.why {
		width: 400px;
		margin-right: 80px;
	}
	ul.benefits {
		margin: 12px 0 0 25px;
		li {
			list-style-image: url('/resource/img/contribute/bullet.png');
			padding-left: 2px;
			letter-spacing: 0.45px;
			line-height: 160%;
		}
	}
	.how {
		ul {
			margin: 9px 0 0 1px;
		}
		li {
			list-style: none outside none;
			letter-spacing: 0.9px;
			line-height: 172%;
		}
	}
}
