@import "sub/__modules.less";
/*Rikulo WebStie Global*/
/*Util*/
/*Container*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",sans-serif;	
}
/**Header**/
.h5header, article header, section header, footer header {
	display: none;
}

#zk-template {
	display:none;
}
#row-banner-inner, 
#row-articles-innter {
	 width: 960px;
	 margin: 0 auto;
}
/***Image Row***/
#row-banner {
    height: 380px;
}
#row-banner-inner {
	height: 380px;
}
.ie6 #row-banner-inner {
	background: 0 none;
}
.ie6 #row-banner .img {
	background: url("/resource/img/index/fix/banner_imagesbg.png") no-repeat scroll 0 0 transparent;
}

#row-banner .banners {
	overflow: hidden;
}
#row-banner article header.header {
	display: block;
}

#row-banner .title,
#row-banner .desc {
	float:left;
	width: 480px;
}
#row-banner .title {
	height: 120px;	
}
#row-banner .title .text {
    padding: 30px 0 0 0;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	color: #0d0d0d;
}
#row-banner .desc {
	margin-top: 25px;
	width: 400px;
	font-family: 'Lora', serif;
    font-size: 16px;
	color: #0d0d0d;
}
#row-banner .banner-img {
	width:478px;
	height:376px;
	float: right;
}
#row-banner .banner-img a {
	color: #18343C;
	display:block;
	width:478px;
	height:376px;
	background: url("/resource/img/index/ajax-loader.gif") no-repeat scroll 217px 176px transparent;
	.ie67_min-height;
}
#row-banner .download-button {
	background: #FCFBF8 url("/resource/img/index/button_download.png") no-repeat -1px 0;
	width: 220px;
	height: 79px;
	float: left;
	margin: 25px 180px 0 0;
	a {
		.div-button-a;
		color: white;
		position: relative;
		span {
			position: absolute;
			font-family: Verdana;
			cursor: pointer;
		}
		.name {
			top: 17px;
			left: 70px;
			font-size: 20px;
			letter-spacing: -1px;
			.text-shadow(#B9A585);
		}
		.version {
			top: 36px;
			left: 70px;
			font-size: 13px;
			letter-spacing: -1px;
			.text-shadow(#B9A585);
		}
		.license {
			top: 60px;
			left: 60px;
			font-size: 11px;
			color: #9C825D;
			letter-spacing: -1px;
			text-transform: uppercase;
			.text-shadow(#6F5C43);
		}
	}
}
#row-banner .git-link {
	color: #914503;
	float: left;
	margin-left: 40px;
}

.ie6 #row-banner .download-button {
	margin-right: 230px;
}

/***News Row***/
/****News Section****/
@import "index_articles.less";




@media only screen and (device-width: 768px) {
  ul.menu ul li:not(.top) {
      margin: -1px 0 0; 
  }
  ul.menu .touch-close {
    display: block;
  }
}