<div id="blogs" class="row-item grid_4"><div class="head"><div class="headline"><a href="http://blog.rikulo.org">Blog</a></div></div><div class="blogs">
	<div class="desc">
		<a href="http://blog.rikulo.org/posts/2012/Dec/General/rikulos-todomvc/">Rikulo's todoMVC</a>
	</div>
	<div class="data">
		<span class="date">December 19, 2012</span>
		<span> by </span>
		<span class="author">Simon Pai</span>
	</div>
</div><div class="blogs">
	<div class="desc">
		<a href="http://blog.rikulo.org/posts/2012/Nov/Tutorial/visual-effects-in-rikulo/">Visual Effects in Rikulo</a>
	</div>
	<div class="data">
		<span class="date">November 12, 2012</span>
		<span> by </span>
		<span class="author">Simon Pai</span>
	</div>
</div><div class="blogs">
	<div class="desc">
		<a href="http://blog.rikulo.org/posts/2012/Oct/Tutorial/easing-function-in-rikulo/">Easing Function in Rikulo</a>
	</div>
	<div class="data">
		<span class="date">October 4, 2012</span>
		<span> by </span>
		<span class="author">Simon Pai</span>
	</div>
</div><div class="blogs">
	<div class="desc">
		<a href="http://blog.rikulo.org/posts/2012/Sep/Tutorial/rikulo-el-an-expression-language-for-and-in-dart/">Rikulo EL, an Expression Language for and in Dart</a>
	</div>
	<div class="data">
		<span class="date">September 27, 2012</span>
		<span> by </span>
		<span class="author">Henri Chen</span>
	</div>
</div><div class="blogs">
	<div class="desc">
		<a href="http://blog.rikulo.org/posts/2012/Aug/Tutorial/a-rotatable-map-prototype/">A Rotatable Map Prototype</a>
	</div>
	<div class="data">
		<span class="date">August 27, 2012</span>
		<span> by </span>
		<span class="author">Simon Pai</span>
	</div>
</div></div>