<div id="twitter" class="row-item grid_4"><div class="head"><div class="headline"><a href="https://twitter.com/#!/search/realtime/rikulo">Twitter</a></div></div><div class="twitters grid_4 alpha omega">
				<a class="img-icon" href="/">
					<img class="twitter-img" src="http://a0.twimg.com/sticky/default_profile_images/default_profile_6_normal.png" alt="hackr_seed"/>
				</a>
                <div class="pointer"></div>
                <aside class="bubble">
                        <div class="corner top"></div>
                        <div class="bubble-cnt">
                                <a class="author" href="/">hackr_seed</a>
                                <div class="saying">del chl: rikulo/stream · github:  http://t.co/YN7dwteb</div>
                                <a class="date">4 days ago</a>
                                <a class="reply" href="https://twitter.com/intent/tweet?in_reply_to=292422378963759104">- reply</a>
                                <a class="retweet" href="https://twitter.com/intent/retweet?tweet_id=292422378963759104">- retweet</a>
                                <a class="favorte" href="https://twitter.com/intent/favourite?tweet_id=292422378963759104">- favorite</a>
						</div>
						<div class="corner bottom"></div>
			</aside>
</div>
<div class="twitters grid_4 alpha omega">
				<a class="img-icon" href="/">
					<img class="twitter-img" src="http://a0.twimg.com/sticky/default_profile_images/default_profile_3_normal.png" alt="proggitarticles"/>
				</a>
                <div class="pointer"></div>
                <aside class="bubble">
                        <div class="corner top"></div>
                        <div class="bubble-cnt">
                                <a class="author" href="/">proggitarticles</a>
                                <div class="saying">Stream is a Dart web server supporting URI mapping, template technology, file-based static resources and MVC des... http://t.co/7zxOCALT</div>
                                <a class="date">4 days ago</a>
                                <a class="reply" href="https://twitter.com/intent/tweet?in_reply_to=292391159605641216">- reply</a>
                                <a class="retweet" href="https://twitter.com/intent/retweet?tweet_id=292391159605641216">- retweet</a>
                                <a class="favorte" href="https://twitter.com/intent/favourite?tweet_id=292391159605641216">- favorite</a>
						</div>
						<div class="corner bottom"></div>
			</aside>
</div>
<div class="twitters grid_4 alpha omega">
				<a class="img-icon" href="/">
					<img class="twitter-img" src="http://a0.twimg.com/profile_images/2907250223/e260794b5cb02f4a991b198c33ebe32a_normal.png" alt="IrregularShed"/>
				</a>
                <div class="pointer"></div>
                <aside class="bubble">
                        <div class="corner top"></div>
                        <div class="bubble-cnt">
                                <a class="author" href="/">IrregularShed</a>
                                <div class="saying">Nice. Web server written in Dart. https://t.co/F085ZI01</div>
                                <a class="date">4 days ago</a>
                                <a class="reply" href="https://twitter.com/intent/tweet?in_reply_to=292381457261924352">- reply</a>
                                <a class="retweet" href="https://twitter.com/intent/retweet?tweet_id=292381457261924352">- retweet</a>
                                <a class="favorte" href="https://twitter.com/intent/favourite?tweet_id=292381457261924352">- favorite</a>
						</div>
						<div class="corner bottom"></div>
			</aside>
</div>
</div>