.image {
	margin-left: -10px;
}
.header {
	color: #0d0d0d;
	padding-top: 130px;
	font-family: 'Asap',sans-serif;
}
.title {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 64px;
	text-transform: uppercase;
	letter-spacing: -2.5px;
}
.desc {
	font-family: 'Lora', sans-serif;
	font-size: 20px;
	margin-top: -9px;
}

.button {
	width: 155px;
	height: 40px;
	margin-top: 28px;
	background: url("/img/button-backhome.png") no-repeat scroll 0 0 transparent;
}

.button a {
	display: block;
	height: 27px;
	padding: 9px 0 0 15px;
	color: #F2F2E1;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size: 14px;
}
.button a:hover {
	color: #F2F2E1;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#template-inner {
		min-height: 400px;
	}
}
@media only screen and (max-width: 767px) {
	#template-inner {
		min-height: 400px;
	}
}
