#error {
color: #0d0d0d;
	background: url("/resource/img/error/footprints_bg.png") no-repeat scroll -11px 0 transparent;
	width: 960px;
	height: 467px;
	padding: 130px 0 0 455px;
}
.title {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 64px;
	text-transform: uppercase;
	letter-spacing: -2.5px;
}
.desc {
	font-family: 'Lora', sans-serif;
	font-size: 20px;
	width: 350px;
	margin: -9px 0 0 6px;
}

.button {
	width: 155px;
	margin-right: 5px;
	margin: 28px 5px 0 6px;
	background: url("/img/button-backhome.png") no-repeat scroll 0 0 transparent;
}

.button a {
	display: block;
	height: 27px;
	padding: 9px 0 0 15px;
	color: #F2F2E1;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	letter-spacing: -0.25px;
	font-size: 14px;
}
.button a:hover {
	color: #F2F2E1;
}