/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */
	
	
	 @media only screen and (min-width: 768px) and (max-width: 959px) {
	
		body {
		  min-width: 768px;
		}
		
		/* `Container
		----------------------------------------------------------------------------------------------------*/
		
		.container_12 {
		  width: 768px;
		}
		
		/* `Grid >> Global
		----------------------------------------------------------------------------------------------------*/
		
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12 {
		  margin-left: 10px;
		  margin-right: 10px;
		}
		.alpha {
		  margin-left: 0;
		}
		
		.omega {
		  margin-right: 0;
		}
		
		
		.container_12 .grid_1 {
		  width: 44px;
		}
		
		.container_12 .grid_2 {
		  width: 108px;
		}
		
		.container_12 .grid_3 {
		  width: 162px;
		}
		
		.container_12 .grid_4 {
		  width: 216px;
		}
		
		.container_12 .grid_5 {
		  width: 270px;
		}
		
		.container_12 .grid_6 {
		  width: 324px;
		}
		
		.container_12 .grid_7 {
		  width: 378px;
		}
		
		.container_12 .grid_8 {
		  width: 432px;
		}
		
		.container_12 .grid_9 {
		  width: 486px;
		}
		
		.container_12 .grid_10 {
		  width: 540px;
		}
		
		.container_12 .grid_11 {
		  width: 594px;
		}
		
		.container_12 .grid_12 {
		  width: 648px;
		}
		#footer-inner #sns-items .sns-btn {
			margin-left: 1px;	
		}
	}