/*  #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

   @media only screen and (min-width: 480px) and (max-width: 767px) {
       	/* `Container
		----------------------------------------------------------------------------------------------------*/
		
		.container_12 {
			margin-left: auto;
			margin-right: auto;
			width: 460px;
		}
		
		/* `Grid >> Global
		----------------------------------------------------------------------------------------------------*/
		
		.container_12 .grid_1,
		.container_12 .grid_2,
		.container_12 .grid_3,
		.container_12 .grid_4,
		.container_12 .grid_5,
		.container_12 .grid_6,
		.container_12 .grid_7,
		.container_12 .grid_8,
		.container_12 .grid_9,
		.container_12 .grid_10,
		.container_12 .grid_11,
		.container_12 .grid_12 {
			width: 460px;
		}
		
		/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
		----------------------------------------------------------------------------------------------------*/
		#index-header #main_menu {
			margin-left: 0 !important;
			.navigation_menu {
				ul.menu {
				    float: left;
					li {
					    display: block;
					    float: left;
					    padding-left: 0;
						padding-right: 22px;
					}
				}
			}
		}
		
		#row-banner {
			.banner-img {
				img {
					margin-left: 0 !important;
				}
				iframe.rikulo-demo {
					left: 181px;
				}
			}
			#row-banner-inner {
				background-image: none;
			}
			div.buttons {
    			width: 220px;
			}
			div.buttons, div.google-plus {
				margin-top: 20px;
				float: left;
			}
		}
		
		#twitter .twitters {
			width: 300px;
		}
		#row-articles-innter .row-item {
			margin-bottom: 36px;
		}
		
		#footer-inner {
			#google-plus, #sns-items {
				float: left;
			}
			#sns-items {
				margin-bottom: 17px;
			}
		}
		
		.contribute-page  {
			.why {
				margin-bottom: 44px;
			}
		}
		
		#page-content.learn-page {
			.item {
				margin-bottom: 20px;
			}
			.sep {
				margin-bottom: 0;
			}
		}
		
		.discuss-page {
			.how {
				margin-bottom: 44px;
			}
			
			.discussion {
				margin-bottom: 19px;
			}
		}
	}